In [28]:
import sys
import numpy as np
import pandas as pd
from itertools import product
if 'src' not in sys.path:
    sys.path.append('src')

from Algorithm5_1 import Algorithm5_1

In [13]:
%load_ext autoreload
%autoreload 2

In [31]:
# ./src/Algorithm5_1.py
alg = Algorithm5_1()

results = []
for n in [5, 8, 12, 20]:
    # create A matrix
    A = np.array(
        [1 / (i + j - 1) for i, j in product(*[range(1, n+1), range(1, n+1)])]
    ).reshape(n, n)

    # create b intercept
    b = np.ones(n)

    x, n_iter = alg.fit(A, b, x=np.zeros(b.shape))

    results.append({
        'n': n,
        'n_iter': n_iter
    })

results = pd.DataFrame(results)
results

    n  n_iter
0   5      10
1   8      29
2  12   46142
3  20  162928